{{#if success_msg}}
  <div class="alert alert-success alert-dismissable">
      {{success_msg}}
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
 
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger alert-dismissable">
      {{error_msg}}
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
 
{{/if}}