<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/crown.png" class="crown" alt="crown"/>
            <h3  class=" display-3 text-center">Account Login</h3>
            <form method="post" action="/users/login">
              <div class="form-group">
                  <label for="email">Email</label>
                <input type="email" name="email" class="form-control"/>
              </div>
              <div class="form-group">
                  <label for="password">password</label>
                <input type="password" name="password" class="form-control"/>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary center-block">Submit</button>
              </div>
            </form>
        </div>
    </div>
</div>